/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /** COLORS **/
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-lighter-gray: hsl(233, 8%, 79%);
  --neutral-darker-gray: hsl(236, 13%, 42%);
  --neutral-dark-blue: hsl(240, 100%, 5%);

  /** TYPOGRAPHY **/
  --font-size-base: 15px;
  --font-size-large: 2.5rem;
  --font-size-largest: 4rem;
  --main-font: "Inter", sans-serif;
  --fw-base: 400;
  --fw-bold: 700;
  --fw-bolder: 800;

  /** SPACING **/
  --padding-m: 1.5rem;
  --padding-s: 0.8rem;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  font-weight: var(--fw-base);
  background-color: var(--neutral-off-white);
  color: var(--neutral-darker-gray);
}
/** UTILITY CLASSES **/
.text-dark {
  color: var(--neutral-dark-blue);
}

.text-orange {
  color: var(--primary-orange);
}

.text-white {
  color: var(--neutral-off-white);
}

.text-lighter-gray {
  color: var(--neutral-lighter-gray);
}
.bg-dark {
  background-color: var(--neutral-dark-blue);
}

.bg-red {
  background-color: var(--primary-red);
}

.padding-medium {
  padding: var(--padding-m);
}

.padding-block-m {
  padding-block: var(--padding-m);
}

.largest-text {
  font-size: var(--font-size-largest);
}

.large-text {
  font-size: var(--font-size-large);
}

.button {
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 0.3rem;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: var(--neutral-dark-blue);
  }
}

.bold-text {
  font-weight: var(--fw-bold);
}

/** BLOCK CLASSES **/

.App {
  max-width: 1500px;
  margin: 0 auto;
}

.section {
  margin: 6rem;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 6rem;
}

.headline-grid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .headline-content-grid {
    display: grid;
    align-content: space-between;
  }

  img {
    grid-column: span 2;
    min-height: 300px;
    object-fit: cover;
  }

  h1 {
    line-height: 1;
  }
}
.articles-grid {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.article-preview-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;

  .article-preview-content {
    display: grid;
    align-content: space-between;
  }

  h3 {
    transition: all 300ms ease-in-out;

    &:hover {
      color: var(--primary-red);
    }
  }
}
.new-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 1fr 1fr;
  height: 100%;

  .new-item[data-item-type="middle-item"] {
    border-top: solid var(--neutral-lighter-gray) 1px;
    border-bottom: solid var(--neutral-lighter-gray) 1px;
  }

  .new-item {
    h3 {
      transition: all 300ms ease-in-out;

      &:hover {
        color: var(--primary-orange);
      }
    }
  }
}

/** MENU STYLING **/

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3rem;
  li {
    display: inline;
    padding-left: 2rem;
    font-size: 1.1rem;
    transition: all 300ms ease-in-out;
    &:hover {
      color: var(--primary-red);
    }
  }
}

/** RESPONSIVENESS STYLING **/
@media (max-width: 1240px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
  .articles-grid {
    grid-template-columns: 1fr;
    grid-column: span 1;
    align-content: space-between;
  }

  .new-item {
    padding-block: 1rem;
  }
}

@media (max-width: 900px) {
  /** ADJUSTING LAYOUT **/
  .section {
    margin: 2rem;
  }
  .content-grid {
    grid-template-columns: 1fr;
  }
  .NewSection,
  .article-preview-grid {
    width: 100%;
  }

  .headline-grid {
    grid-template-columns: 1fr;
    grid-column: span 1;

    img {
      grid-column: span 1;
    }
  }

  .Menu {
    display: none;
  }

  .button {
    margin-top: 2rem;
  }
}
