/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /** COLORS **/
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-lighter-gray: hsl(233, 8%, 79%);
  --neutral-darker-gray: hsl(236, 13%, 42%);
  --neutral-dark-blue: hsl(240, 100%, 5%);

  /** TYPOGRAPHY **/
  --font-size: 15px;
  --main-font: "Inter", sans-serif;
  --fw-base: 400;
  --fw-bold: 700;
  --fw-bolder: 800;
}

body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--fw-base);
  background-color: var(--neutral-off-white);
  color: var(--neutral-darker-gray);
}
/** UTILITY CLASSES **/
.text-dark {
  color: var(--neutral-dark-blue);
}

.text-orange {
  color: var(--primary-orange);
}

.text-white {
  color: var(--neutral-off-white);
}
.bg-dark {
  background-color: var(--neutral-dark-blue);
}
